/*button*/
.button-mobile {
  font-size: 35px;
  text-decoration: none;
  color: $swatch_1;
  transition: all 0.2s ease;
  &:hover {
    color: $swatch_11;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

.button {
  width: 100%;
  display: inline-block;
  padding: 13px;
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
  text-align: center;
  line-height: 1;
  color: $swatch_6;
  border: 2px solid $swatch_3;
  border-radius: 24px;
  text-decoration: none;
  background-color: transparent;
  word-spacing: normal;
  box-shadow: 0px 4px 4px $btn_shadow;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  &:hover {
    color: $swatch_6;
    background-color: $swatch_3;
    border: 2px solid $swatch_13;
    box-shadow: none;
    text-decoration: none;
  }
}

.button.button_accent {
  @extend .button;
  color: $swatch_1;
  border: 2px solid $swatch_3;
  background-color: $swatch_3;
  &:hover {
    box-shadow: 0 0 10px 5px $btn_hover;
    text-decoration: none;
    color: $swatch_1;
  }
}

.button.button_disable {
  @extend .button;
  color: $swatch_1;
  background-color: $btn_disable;
  border-color: $btn_disable;
  pointer-events: none;
}

.button-play {
  outline: none;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: $btn_play;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  @media (min-width: $md) {
    width: 140px;
    height: 140px;
  }
  @media (min-width: $xl) {
    width: 215px;
    height: 215px;
  }
  &__ico {
    padding-left: 10px;
    font-size: 40px;
    color: $swatch_11;
    @media (min-width: $md) {
      font-size: 60px;
    }
    @media (min-width: $xl) {
      font-size: 92px;
      padding-left: 13px;
    }
  }
  &::-moz-focus-inner {
    border: none;
  }
  &:hover {
    border-color: $swatch_1;
    opacity: 1;
  }
}
.button.size {
  &_14 {
    font-size: 14px;
  }
}
.button.padding {
  &_15 {
    padding: 15px;
  }
}
.js-opacity {
  opacity: 0.1;
}

.button-slider {
  display: inline-block;
  padding: 3px;
  outline: none;
  font-size: 50px;
  color: #38aab8;
  background-image: $gradient_btn_slider;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-image: $gradient_btn_slider_hover;
  }
  &_special_margin {
    margin: 12px;
    &_right {
      margin-right: 90px;
      @media (min-width: $md) {
        margin-right: 365px;
      }
      @media (min-width: $lg) {
        margin-right: 100px;
      }
    }
    &_left {
      &_zero {
        @media (min-width: $md) {
          margin-left: 0;
        }
      }
    }
  }
  &_full_position {
    @media (min-width: $xxl) {
      &_right {
        position: absolute;
        right: 1100px;
      }
      &_left {
        position: absolute;
        left: 1200px;
      }
    }
  }
}

.button-slider-people {
  margin: 12px;
  &_special_margin {
    &_right {
      margin-right: 90px;
      @media (min-width: $lg) {
        margin-right: 175px;
      }
      @media (min-width: $xl) {
        margin-right: 260px;
      }
    }
  }
  &_full_position {
    @media (min-width: $xxl) {
      &_right {
        position: absolute;
        right: 950px;
      }
      &_left {
        position: absolute;
        left: 1200px;
      }
    }
  }
}
