/*card-*/
.card-info {
  max-width: 350px;
  margin: auto;
  padding: 12px;
  background-color: $card_background_1;
  border-radius: 4px;
  &__box-icon {
    margin-top: 20px;
    &_special_margin {
      @media (min-width: $lg) {
        margin-top: -5px;
      }
    }
  }
  &__icon {
    color: $swatch_9;
    font-size: 40px;
    &_size {
      @media (min-width: $lg) {
        font-size: 35px;
      }
    }
  }
  &__title {
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 20px;
    @media (min-width: $lg) {
      font-size: 21px;
    }
    @media (min-width: $xl) {
      font-size: 24px;
    }
  }
  &__txt {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
    @media (min-width: $lg) {
      margin-top: 20px;
      font-size: 16px;
    }
    @media (min-width: $xl) {
      margin-top: 30px;
    }
  }
  @media (min-width: $lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 270px;
  }
  &_margin-left_zero {
    @media (min-width: $lg) {
      margin-left: 0;
    }
  }
  &_margin-right_zero {
    @media (min-width: $lg) {
      margin-right: 0;
    }
  }
  @media (min-width: $xl) {
    max-width: 100%;
    margin: 0;
  }
}

.card-step {
  margin: auto;
  max-width: 170px;
  padding: 5px;
  &__number-big {
    font-size: 75px;
    font-weight: bold;
    color: $swatch_15;
    background-image: $gradient_number;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (min-width: $xl) {
      font-size: 95px;
    }
  }
  &__txt {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
    @media (min-width: $lg) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &_special_padding-left {
    @media (min-width: $xxl) {
      padding-left: 31px;
    }
  }
  @media (min-width: $xxl) {
    max-width: 204px;
  }
}

.card-join {
  margin: auto;
  padding: 20px;
  max-width: 330px;
  border-radius: 4px;
  background-color: $swatch_4;
  background-image: $gradient_command;
  box-shadow: $section_shadow;
  text-align: center;
  &__heading {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    color: $swatch_1;
    text-transform: uppercase;
    max-width: 215px;
    @media (min-width: $md) {
      font-size: 24px;
    }
    @media (min-width: $xl) {
      margin-top: 23px;
    }
  }
  &__box-icon > .card-join__icon {
    color: $swatch_3;
    font-size: 15px;
    @media (min-width: $xl) {
      font-size: 16px;
    }
  }
  &__box-icon {
    margin-top: 70px;
    @media (min-width: $sm) {
      margin-top: 50px;
    }
    @media (min-width: $xl) {
      margin-top: 52px;
    }
  }
  &__box-button {
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width: 182px;
    @media (min-width: $sm) {
      margin-bottom: 40px;
    }
    @media (min-width: $xl) {
      margin-top: 35px;
    }
  }
  &__list {
    margin-top: 40px;
    @media (min-width: $sm) {
      margin-top: 49px;
    }
  }
  @media (min-width: $lg) {
    min-height: 432px;
  }
  &_margin_left_zero {
    @media (min-width: $lg) {
      margin-left: 0;
    }
  }
  &_margin_right_zero {
    @media (min-width: $lg) {
      margin-right: 0;
    }
  }
  &_margin_auto {
    @media (min-width: $xl) {
      margin: auto;
    }
  }
}

.card-project {
  margin: auto;
  margin-bottom: 11px;
  max-width: 330px;
  height: 513px;
  background-color: $swatch_4;
  background-image: $gradient_project;
  border-radius: $radius;
  overflow: hidden;
  @media (min-width: $sm) {
    box-shadow: $slider_project_shadow;
  }
  &__content-top {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  &__overlay {
    background-image: $gradient_project_card;
  }
  &__foreground {
    height: 100%;
    position: relative;
    z-index: -1;
  }
  &__figure {
    max-width: 330px;
    max-height: 220px;
  }
  &__picture {
    display: block;
    height: 220px;
    object-fit: cover;
  }
  &__content-bottom {
    padding: 35px 35px 35px 40px;
  }
  &__heading {
    text-transform: uppercase;
    color: $swatch_1;
    font-size: 22px;
    @media (min-width: $lg) {
      font-size: 24px;
    }
  }
  &__txt {
    text-align: left;
    color: $swatch_2;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    @media (min-width: $lg) {
      font-size: 16px;
    }
  }
}

.card-link {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    width: 225px;
    height: 125px;
    @media (min-width: $md) {
      width: 230px;
      height: 200px;
    }
    @media (min-width: $lg) {
      width: 220px;
      height: 185px;
    }
    &_margin {
      &_left {
        &_zero {
          @media (min-width: $sm) {
            margin-left: 0;
          }
        }
        &_auto {
          @media (min-width: $lg) {
            margin-left: auto;
          }
        }
      }
      &_right {
        &_zero {
          @media (min-width: $sm) {
            margin-right: 0;
          }
        }
        &_auto {
          @media (min-width: $lg) {
            margin-right: auto;
          }
        }
      }
    }
  }
  &__box-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  &__picture {
    max-width: 200px;
    max-height: 120px;
    display: block;
    margin: auto;
    @media (min-width: $md) {
      max-width: 205px;
      max-height: 165px;
    }
    @media (min-width: $lg) {
      max-width: 200px;
      max-height: 155px;
    }
  }
}

.card-people {
  margin: auto;
  text-align: center;
  padding: 5px;
  width: 218px;
  height: 300px;
  @media (min-width: $md) {
    width: 210px;
    height: 278px;
  }
  @media (min-width: $lg) {
    width: 200px;
  }
  &__content-top {
  }
  &__background-photo {
    margin: 0;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    @media (min-width: $md) {
      width: 180px;
      height: 180px;
    }
    &_photo-1 {
      background-image: url(../img/people/anastasia-b.jpg);
      background-position-x: -29px;
      background-position-y: -34px;
      background-size: 138%;
    }
    &_photo-2 {
      background-image: url(../img/people/kristina-che.jpg);
      background-position-x: -32px;
      background-position-y: -22px;
      background-size: 144%;
    }
    &_photo-3 {
      background-image: url(../img/people/dmitry-d.jpg);
      background-position-x: -37px;
      background-position-y: -29px;
      background-size: 144%;
    }
    &_photo-4 {
      background-image: url(../img/people/aleks-ch.jpg);
      background-position-x: -4px;
      background-position-y: -23px;
      background-size: 106%;
    }
    &_photo-5 {
      background-image: url(../img/people/darya-li.jpg);
      background-position-x: -19px;
      background-position-y: -2px;
      background-size: 120%;
    }
    &_photo-6 {
      background-image: url(../img/people/olga_cici.jpg);
      background-position-x: -17px;
      background-position-y: -35px;
      background-size: 117%;
    }
    &_photo-7 {
      background-image: url(../img/people/viktoria-m.jpg);
      background-position-x: -17px;
      background-position-y: -14px;
      background-size: 117%;
    }
    &_photo-8 {
      background-image: url(../img/people/kateryna-bo.jpg);
      background-position-x: -6px;
      background-position-y: -3px;
      background-size: 116%;
    }
    &_photo-9 {
      background-image: url(../img/people/anton-ga.jpg);
      background-position-x: -9px;
      background-position-y: -9px;
      background-size: 119%;
    }
    &_photo-10 {
      background-image: url(../img/people/anna-gy.jpg);
      background-position-x: -8px;
      background-position-y: -13px;
      background-size: 107%;
    }
  }

  &__content-bottom {
    margin-top: 25px;
    @media (min-width: $xxl) {
      margin-top: 18px;
    }
  }
  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: $swatch_5;
  }
  &__txt {
    @extend .card-people__title;
    font-weight: 400;
    font-size: 15px;
  }
}

.card-contact {
  margin: auto;
  padding: 36px;
  width: 285px;
  border-radius: 4px;
  background-color: $swatch_16;
  // background-color: rgb(219, 92, 92);
  box-shadow: $contact_card_shadow;
  &__content-top {
    text-align: center;
  }
  &__heading {
    text-transform: uppercase;
    color: $swatch_5;
    font-size: 24px;
  }
  &__content-middle {
    margin-top: 30px;
  }
  &__list-address {
  }
  &__content-bottom {
    margin-top: 16px;
  }
  &__list-social {
  }
  &_position {
    &_absolute {
      @media (min-width: $md) {
        position: absolute;
        top: 82px;
        left: 7px;
        z-index: 1000;
      }
      @media (min-width: $lg) {
        left: 60px;
      }
    }
  }
}
