/*grid*/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px;
}

.grid_margin_zero {
  margin: 0;
}

.grid {
  &_margin {
    &_top {
      &_10 {
        margin-top: 10px;
      }
    }
  }
}

.grid .grid_height_full {
  height: 100%;
}

.grid > .grid__item {
  padding: 10px;
}

.grid > .grid__item_padding_zero {
  padding: 0;
}

//special value
@media (min-width: $xl) {
  .grid_special_margin {
    margin: -43px;
  }
}

@media (min-width: $xxl) {
  .grid {
    margin: -43px;
  }
  .grid {
    &_margin {
      &_top {
        &_43 {
          margin-top: 43px;
        }
      }
    }
  }
  .grid_special_margin {
    margin-left: -77px;
    margin-right: -59px;
  }
  .grid > .grid__item {
    padding: 20px;
  }

  .grid > .grid__item {
    &_padding-right {
      &_40 {
        padding-right: 40px;
      }
      &_60 {
        padding-right: 60px;
      }
    }
    &_padding-left {
      &_40 {
        padding-left: 40px;
      }
      &_60 {
        padding-left: 60px;
      }
    }
    &_padding-left-right {
      &_zero {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}
