/*list*/
.list-marked {
  text-align: left;
  padding-left: 10px;
  &__item {
    position: relative;
    color: $swatch_2;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    @media (min-width: $md) {
      font-size: 16px;
    }
  }
  &__item + .list-marked__item {
    margin-top: 12px;
  }
  &__item::before {
    content: "\e903";
    font-family: $icomoon-font-family;
    line-height: 0;
    position: relative;
    right: 8px;
    bottom: 1px;
    font-size: 7px;
    color: $swatch_3;
    @media (min-width: $xl) {
      right: 10px;
      font-size: 8px;
    }
  }
  @media (min-width: $sm) {
    padding-left: 20px;
  }
  @media (min-width: $md) {
    padding-left: 22px;
  }
  &_special_margin-top {
    @media (min-width: $lg) {
      margin-top: 20px;
    }
  }
}

.list-address {
  &__item {
    color: $swatch_5;
    font-size: 16px;
    line-height: 20px;
  }
  &__item + .list-address__item {
    margin-top: 8px;
  }
  &__link {
    color: $swatch_5;
    text-decoration: none;
    // transition: $transition;
    &:hover {
      color: $swatch_3;
      text-decoration: none;
    }
  }
}

.list-social {
  display: flex;
  &__item {
    width: 32px;
    height: 32px;
    border: 1px solid $swatch_6;
    background-color: $swatch_6;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  &__item + .list-social__item {
    margin-left: 21px;
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    &:hover {
      text-decoration: none;
      background-color: lighten($swatch_6, 25%);
    }
    &:hover > .list-social__icon {
      color: $swatch_11;
    }
  }
  &__icon {
    color: $swatch_1;
    font-size: 19px;
    &_padding {
      &_right {
        &_3 {
          padding-right: 3px;
        }
      }
    }
  }
}
