.logo {
  &__link {
    display: block;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $swatch_1;
    }
  }
  &__picture {
    display: block;
    width: 132px;
  }
  &__txt {
    display: block;
    padding-top: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
    @media (min-width: $xl) {
      // padding-top: 22px;
    }
  }
}
