/*section*/
.section {
  position: relative;
  z-index: 0;
  &__background {
    position: absolute;
    background-color: $swatch_4;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
  }
  &__picture-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: $overlay;
    opacity: 0.85;
  }
  &__foreground {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }
  &__video-background > .video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
  }
}

/*section-hero */
.section-hero {
  margin-top: 0;
  height: 800px;
  min-height: 100vh;
  &__content {
    margin-top: 40px;
    @media (min-width: $sm) {
      margin-top: 90px;
    }
    @media (min-width: $md) {
      margin-top: 100px;
    }
    @media (min-width: $lg) {
      margin-top: 140px;
    }
    @media (min-width: $xl) {
      margin-top: 175px;
    }
  }
  &__content-top {
    text-align: center;
  }
  &__content-bottom {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    @media (min-width: $md) {
      width: 480px;
      margin: auto;
    }
    @media (min-width: $lg) {
      width: 485px;
      text-align: left;
    }
  }
  &__box-button {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    @media (min-width: $md) {
      margin-top: 50px;
    }
    @media (min-width: $lg) {
      margin-top: 60px;
    }
    @media (min-width: $xl) {
      // margin-right: 197px;
    }
  }
  &__txt {
    font-size: 16px;
    font-weight: 600;
    // line-height: 34px;
    @media (min-width: $sm) {
      font-size: 17px;
      text-align: center;
      font-weight: 700;
      // line-height: 35px;
    }
    @media (min-width: $lg) {
      font-size: 19px;
      line-height: 35px;
    }
  }
  &__heading {
    @media (min-width: $sm) {
      font-size: 55px;
      line-height: 60px;
      margin-bottom: 30px;
    }
    @media (min-width: $md) {
      font-size: 57px;
      margin-bottom: 40px;
    }
    @media (min-width: $lg) {
      font-size: 70px;
    }
    @media (min-width: $xl) {
      margin-bottom: 50px;
      // padding-right: 50px;
      font-size: 77px;
    }
  }
}

/*section-video*/
.section-video {
  max-height: 800px;
  overflow: hidden;
  .section__overlay {
    display: flex;
    background-color: $overlayVideoSection;
    z-index: 1;
  }
  &__video-background > .video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: -2;
  }
  &__video-background {
    max-height: inherit;
  }

  &__video-background > .video[poster] {
    display: block;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    max-height: inherit;
    @media (min-width: 2000px) {
      object-position: top;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @media (min-width: $xl) {
      padding-top: 8px;
    }
  }
  &__box-button {
    display: block;
  }
}

/*section-activism*/
.section-activism {
  padding-bottom: 67px;
  background-image: $gradient_activism;
  box-shadow: $section_shadow;
  &__content-top {
    padding-top: 40px;
    text-align: center;
    @media (min-width: $md) {
      padding-top: 60px;
    }
    @media (min-width: $lg) {
      padding-top: 80px;
    }
  }
  &__heading {
    text-transform: uppercase;
    @media (min-width: $md) {
      margin-bottom: 50px;
    }
    @media (min-width: $xl) {
      margin-bottom: 73px;
      font-size: 36px;
      font-weight: 800;
    }
    &_small {
      font-size: 22px;
      @media (min-width: $xl) {
        margin-bottom: 50px;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
  &__content-bottom {
    @extend .section-activism__content-top;
    @media (min-width: $xl) {
      padding-top: 100px;
    }
  }
}

/*section-forum*/
.section-forum {
  position: relative;
  background-image: $gradient_forum;
  box-shadow: $section_shadow;
  overflow: hidden;
  min-height: 540px;
  z-index: 1;
  &__overlay-picture {
    display: none;
    @media (min-width: $xl) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      background-image: url(../img/archi-background.svg);
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: initial;
      max-width: 100%;
    }
  }
  &__content-top {
    margin: auto;
    padding-top: 40px;
    text-align: center;
    @media (min-width: $md) {
      padding-top: 60px;
    }
    @media (min-width: $xl) {
      padding-top: 80px;
    }
    @media (min-width: $xxl) {
      padding-right: 20px;
    }
  }
  &__content-bottom {
    display: block;
    @media (min-width: $xl) {
      display: none;
    }
  }
  &__heading {
    font-size: 25px;
    text-transform: uppercase;
    @media (min-width: $lg) {
      font-size: 36px;
    }
  }
  &__txt {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: 400;
    max-width: 484px;
    @media (min-width: $md) {
      margin-top: 30px;
    }
    @media (min-width: $lg) {
      font-size: 16px;
    }
  }
  &__box-button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 182px;
    @media (min-width: $md) {
      margin-top: 38px;
    }
    @media (min-width: $xl) {
      margin-top: 35px;
    }
  }
  &__figure {
    margin-top: 30px;
    max-width: 100%;
    @media (min-width: $md) {
      margin-top: 38px;
    }
  }
  &__picture {
    display: block;
    margin: auto;
    max-height: 234px;
  }
}

/*section-joining*/
.section-joining {
}
