<!DOCTYPE html>
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title EDU Cluster
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/base.css")
    link(rel='stylesheet' href='css/main.css')
  body.page
    .content-wrap
      section.section.section-hero
        .section__background
          img.section__picture-background(src="img/bg-hero.jpg", alt="building")
        .section__overlay
        .container
          .section__foreground
            header.header
              .header__content
                .logo
                  a.logo__link(href="/")
                    img.logo__picture(src="img/logo.svg", alt="EDU Cluster Logo")
                    span.logo__txt Kharkiv EDU Cluster
                nav.navigation
                  ul.menu#menu
                    li.menu__item
                      a.menu__link(href="#line-of-activity") Напрямки діяльності
                    li.menu__item
                      a.menu__link(href="#forum") Форум
                    li.menu__item
                      a.menu__link(href="#joining") Приеднатись
                    li.menu__item
                      a.menu__link(href="#project") Проекти
                    li.menu__item
                      a.menu__link(href="#partners") Партнери
                    li.menu__item
                      a.menu__link(href="#contact") Контакти
                .menu-mobile
                  .menu-mobile__box-button
                    a.button-mobile#btnMobile(href="#")
                      span.icon-menu
            .section-hero__content
              .section-hero__content-top  
                h1.section-hero__heading Kharkiv EDU Cluster
              .section-hero__content-bottom
                p.section-hero__txt Це сучасна школа неформальної освіти для молодих лідерів. 
                  | Навчаємо навичкам, формуємо особистість, 
                  | силами неформальної освіти, створюємо систему цінностей!
                .section-hero__box-button
                  a.button.button_accent(href="https://docs.google.com/forms/d/1e281wdKclaS-gcQpBp6hr1aizX5XMgg84pjBYXVvFYQ/viewform?edit_requested=true" target="_blank") Пройти тест
      section.section.section-video
        .section-video__video-background
          video.video#video(poster="img/poster.jpg" loop)
            source(src="video/command-edu.mp4" type="video/mp4")
            //- source(src="video/command.webm" type="video/webm")
        .section__overlay
          .container
            .section__foreground
              .section-video__content
                .section-video__box-button
                  button.button-play#btnVideoPlay(type="button")
                    span.icon-btn-play.button-play__ico
      main.main
        section.section.section-activism#line-of-activity
          .container
            .section-activism__content-top
              h2.section-activism__heading напрямки діяльності edu cluster
              .grid
                .grid__item.grid__item_padding-right_40.width-1-1.width-1-2-lg.width-1-3-xl
                  .card-info.card-info_margin-right_zero
                    .card-info__box-icon
                      span.icon-sing-lightning.card-info__icon
                    p.card-info__title ми задаємо тренди 
                    p.card-info__txt Створюємо особистостей XXI сторічча. 
                      | Вивчаємо майбутнє та тренди. 
                      | Створюємо тренди на вивченя навичок.
                .grid__item.grid__item_padding-left-right_zero.width-1-1.width-1-2-lg.width-1-3-xl
                  .card-info.card-info_margin-left_zero
                    .card-info__box-icon.card-info__box-icon_special_margin
                      span.icon-sing-rhombus.card-info__icon.card-info__icon_size
                    p.card-info__title формуємо єкосистему неформальної освіти
                    p.card-info__txt Формування правил гри та нетворкінг.
                .grid__item.grid__item_padding-left_40.width-1-1.width-1-3-xl
                  .card-info
                    .card-info__box-icon.card-info__box-icon_special_margin
                      span.icon-sing-gear.card-info__icon.card-info__icon_size
                    p.card-info__title soft &amp; hard skils
                    p.card-info__txt Soft skills як фундамент твого професійного розвитку.
            .section-activism__content-bottom
              h3.section-activism__heading.section-activism__heading_small дослідження “сучасний портрет харків’ян”
              .grid.grid_special_margin
                .grid__item.width-1-1.width-1-2-sm.width-1-3-md.width-1-5-lg
                  .card-step
                    span.card-step__number-big 01
                    p.card-step__txt Вивчаємо майбутнє та тренди
                .grid__item.width-1-1.width-1-2-sm.width-1-3-md.width-1-5-lg
                  .card-step
                    span.card-step__number-big 02
                    p.card-step__txt Аналізуємо ринок праці та потреби роботодавців
                .grid__item.width-1-1.width-1-2-sm.width-1-3-md.width-1-5-lg
                  .card-step.card-step_special_padding-left
                    span.card-step__number-big 03
                    p.card-step__txt Питаємо у молоді що вона хоче вивчати
                .grid__item.width-1-1.width-1-2-sm.width-1-2-md.width-1-5-lg
                  .card-step
                    span.card-step__number-big 04
                    p.card-step__txt Аналізуємо ринок неформальної освіти та пропозиції
                .grid__item.width-1-1.width-1-2-md.width-1-5-lg
                  .card-step
                    span.card-step__number-big 05
                    p.card-step__txt Презентуємо результати дослідження
        section.section.section-forum#forum
          .section-forum__overlay-picture
          .container
            .section-forum__content-top
              h2.section-forum__heading kharkiv edu forum 30.11.2019
              p.section-forum__txt У слабопеременних полях (при флуктуаціях на рівні одиниць відсотків) 
                | домішка опромінює Ексімер. Очевидно, що промінь підсилює екзотермічний надпровідник. Потік.
              .section-forum__box-button
                a.button.button_accent.size_14.padding_15(href="#") Записатися
            .section-forum__content-bottom
              figure.section-forum__figure
                img.section-forum__picture(src="img/archi-mirror-spray.svg" alt="glass jet Kharkiv")
        section.section.section-joining#joining
          .container
            .section-joining__content-top
              h2.section-joining__heading долучитися до команди
            .section-joining__content-basic
              .grid
                .grid__item.grid__item_padding-right_60.width-1-1.width-1-2-lg.width-1-3-xl
                  .card-join.card-join_margin_right_zero.card-join_margin_auto
                    .card-join__box-icon
                      span.icon-sing-flag.card-join__icon
                    h4.card-join__heading молодь
                    ul.card-join__list.list-marked
                      li.list-marked__item Долучайся до наших заходів
                      li.list-marked__item Приймай участь у проектах
                      li.list-marked__item Створюй неформальноу освіту
                    .card-join__box-button
                      a.button.button_accent.size_14.padding_15(href="https://forms.gle/VRRNa2EGhCxdmEyT9" target="_blank") Приєднатися
                .grid__item.width-1-1.width-1-2-lg.width-1-3-xl
                  .card-join.card-join_margin_left_zero.card-join_margin_auto
                    .card-join__box-icon
                      span.icon-sing-flag.card-join__icon
                    h4.card-join__heading неформальна освіта
                    ul.card-join__list.list-marked.list-marked_special_margin-top
                      li.list-marked__item Стань спікером 
                      li.list-marked__item Отримуй новий досвід
                      li.list-marked__item Прокачай себе та інших
                    .card-join__box-button
                      a.button.button_accent.size_14.padding_15(href="https://forms.gle/VRRNa2EGhCxdmEyT9" target="_blank") Приєднатися
                .grid__item.grid__item_padding-left_60.width-1-1.width-1-3-xl
                  .card-join
                    .card-join__box-icon
                      span.icon-sing-flag.card-join__icon
                    h4.card-join__heading формальна освіта
                    ul.card-join__list.list-marked.list-marked_special_margin-top
                      li.list-marked__item Організуй лекції для учнів
                      li.list-marked__item Залучи батьків
                      li.list-marked__item Прокачай вчителів
                    .card-join__box-button
                      a.button.button_accent.size_14.padding_15(href="https://forms.gle/VRRNa2EGhCxdmEyT9" target="_blank") Приєднатися
        section.section.section-project#project
    script(src="libs/jquery.min.js")
    script(src="js/common.js")